@import url('https://fonts.googleapis.com/css2?family=Antonio:wght@200&family=Concert+One&family=Open+Sans:ital,wght@0,400;0,500;1,400&family=Poppins:ital,wght@0,100;0,400;0,700;1,100&family=Sono:wght@200&display=swap');
.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.btn{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.info-img{
    width:100%;
    border-radius: 23px 23px 0 0;
}

.info-sec-header{
    font-size: 23px;
    color: black;
    font-weight: 700;
    font-family: 'Open Sans', sans-serif;
}
.info-sec-desc{
    font-size: 18px;
    color: chocolate;
    font-family: 'Open Sans', sans-serif;

}
.link{
    color: rgb(173, 17, 69);
    font-size: 16px;
    padding: 6px;
    text-decoration: none;
    font-family: 'Antonio', sans-serif;

}
.link:hover{
    color: coral;
    border: 1px solid chocolate;
    border-radius: 6px;
}

.btn-div{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: auto;
    margin-top: 20px;

}

.btn{
    padding: 12px;
    width: 30%;
    justify-content: center;
    text-decoration: none;
}
#email{
    background-color: white;
    color: black;
    border: 1px solid chocolate;
    border-radius: 12px;
    cursor: pointer;
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
    cursor: pointer;
    align-items: center;
    
}
#email > #icon{
    padding-right: 8px;
}
#email:hover{
    background-color: chocolate;
    color: white;
}
#linkedin{
    background-color: rgb(76, 62, 202);
    color: white;
    font-family: 'Open Sans', sans-serif;
    border: 1px;
    border-radius: 12px;
    font-size: 16px;
    cursor: pointer;
    align-items: center;
}

#linkedin > #icn{
    padding-right: 8px;
}

#linkedin:hover{
    background-color: chocolate;
    color: rgb(76, 62, 202);

}

.about-head{
    color: black;
    margin-left: 0;
    text-align: start;
    margin-left: 36px;
    font-family: 'Open Sans', sans-serif;
}

#about-paragraph{
    color: black;
    text-align: justify;
    margin-left: 36px;
    margin-right: 36px;
    font-family: 'Poppins', sans-serif;
}

.interest-head{
    color: black;
    margin-left: 0;
    text-align: start;
    margin-left: 36px;
    font-family: 'Open Sans', sans-serif;
}

#interest-paragraph{
    color: black;
    text-align: justify;
    margin-left: 36px;
    margin-right: 36px;
    font-family: 'Antonio', sans-serif;
}

.footer{
    background-color: rgb(93, 94, 95);
    height: 70px;
    display: flex;
    flex-direction: row;
    border-radius: 0 0 23px 23px;
    justify-content:center;
    align-items: center;
}

.social-icons{
    font-size: 26px;
    cursor: pointer;
    padding: 0 10px;
}

#twitter{
    color: blue;
}
#instagram{
    color: rgb(173, 17, 69);
}
#facebook{
    color: rgb(69, 69, 128);
}
#github{
    color: black;
}

#twitter:hover{
    color: chocolate;
}
#instagram:hover{
    color: chocolate;
}
#facebook:hover{
    color: chocolate;
}
#github:hover{
    color: chocolate;
}


@media screen and (max-width: 800px) {
    .info-img{
        max-width: 100%;
        display: block;

    }
    .info-sec-header, .info-sec-desc, .link {
        display: block;
        justify-content: center;
        /* width: 100%; */
        padding: 8px;
        text-align: center;
    }
    .btn-div{
        display: flex;
        flex-direction: column;
        justify-content: 
        space-between;
        gap: 22px;
        align-items: center;
    }

    .btn{
        width: 70%;
        align-items: center;
        
        
    }

    .about{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .interest{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .footer{
        display: flex;
        flex-direction: row;
        justify-content: center;
    }
    .link{
        width: 100%;
        margin-left:  8px;
        margin-right: 8px;
    }


    
}